.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-light-color);
  border-radius: 60px;
  padding: 14px 32px;
  height: 50px;
  min-width: 140px;
  font: var(--btn-font);
  color: var(--accent-light-color);
  gap: 10px;

  svg {
    fill: var(--accent-light-color);
  }
}

.contained {
  border: none;
  background-color: var(--accent-light-color);
}

.outlined {
  border: none;
}

.icon {
  border-radius: 100%;
  padding: 0;
  height: 60px;
  min-width: 60px;

  @media (max-width: 1366px) {
    min-width: 44px;
    min-height: 44px;
  }

  @media (max-width: 768px) {
    min-width: 34px;
    min-height: 34px;
  }
}

.horizontal-right {
  border-radius: 60px;

  svg {
    transform: rotate(90deg);
  }
}

.horizontal-left {
  flex-direction: row-reverse;
  border-radius: 60px;

  svg {
    transform: rotate(270deg);
  }
}

.black {
  color: var(--black-color);

  svg {
    fill: var(--black-color);
  }
}

.light {
  color: var(--light-color);

  svg {
    fill: var(--light-color);
  }
}

.icon.light {
  border: 1px solid var(--light-color);
}

.icon.black {
  border: 1px solid var(--black-color);
}
